.prev{
  position: absolute;
  top:50%;
  width:calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color:  black;
  left: 15px;
  right:auto;
}

.next{
  position: absolute;
top: 50%;
width: calc(var(--swiper-navigation-size)/ 44 * 27);
height: var(--swiper-navigation-size);
margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
z-index: 10;
cursor: pointer;
display: flex;

align-items: center;
justify-content: center;
right: 15px;
left: auto;
color: black;
}

.left{
  left: 0px;
}

.right{
  right: 0px;
}